/**Login**/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Urbanist', sans-serif;
   
    
}

.container{
   
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;

    


}

.form{
    padding: 20px;
    background-color: rgb(31, 28, 28);
    color: white;
    width:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    
}
.title-login{
    margin-bottom: 40px;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.form__field{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
}

label{
    font-size: 25px;
    margin-bottom: 10px;
 
}

.form__field input {
    padding: 10px;
    border: none;
    border-bottom: 2px solid white;
    font-family: 'Urbanist', sans-serif;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: white;

}

.btn-login{
    padding: 5px;
    background-color: rgb(78, 78, 78);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    font-family: 'Urbanist', sans-serif;
    letter-spacing: 2px;
    transition: .2s ease-in-out;
    cursor: pointer;
    

}

.btn-login:hover{
    background-color: rgba(202, 136, 124, 0.479);
    color: black;
    
}



/**CRUD**/

.container-crud{
    background-color: white;
    display: flex;
    justify-content: center;
    max-width: 100%;
    
   

}



.container-lista{
    background-color:rgb(36, 36, 36);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    border-right: solid 1px rgb(77, 77, 77);
    width: 300px;
    
}

/**form nuevo alumno**/

.title-alumnos{
    color: white;
    margin-top: 40px;
    border-bottom: 2px solid white;
}

.btn-agregar-alumno{
    background-color: rgb(134, 134, 134);
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 60px;
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    cursor: pointer;
    width: 80%;

}

.form-agregar-alumno{
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
    
    
}

.input-text{
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 16px;
    font-family: 'Urbanist', sans-serif;
}

.btn-enviar-alumno{
  padding: 5px;
  margin-top: 10px;
  background-color:rgb(134, 134, 134);
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  cursor: pointer;

}

.cerrar-sesion{
    text-decoration: none;
    color: white;
    background-color: rgb(36, 36, 36);
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}

/**content**/

.container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    color: white;
    height: 200px;
    
}

.container-hola-usuario{
    background-color: rgba(0, 0, 0, 0.726);
    width: 100%;
    padding: 20px;
    
    
}

.container-bienvenido{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
    
}
.container-bienvenido a{
    text-decoration: none;
}

.container-bienvenido p {
    padding:3px ;
    background-color: brown;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.container-agregar-examen{
    width: 100%;
    height:200px;
    background-color:  rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

    
}



.form-banner{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    padding: 20px;
    width: 80%;
    
}

.container-input{
  
    padding: 5px;
    display: flex;
    justify-content:center ;
    align-items: center;
    
    
    
   }

label{
    font-size: 16px;
    width: 100px;
}

.input-temas{
    width: 200px;
    border: none;
    border-radius: 5px;
    font-family: 'Urbanist', sans-serif;
    outline: none;
    padding: 5px;
    
}


.btn-temas{
    padding: 5px;
    border: none;
    background-color:rgb(134, 134, 134);
    color: white;
    border-radius: 4px;
    font-family: 'Urbanist', sans-serif;
    transition: .2s ease-in-out;
    
    
    
}

.btn-temas:hover{
    background-color: rgba(202, 136, 124, 0.63);
    cursor: pointer;
}

.tareas{
    width:80%;
    display: flex;
    justify-content:space-evenly;
    margin-top: 20px;
    flex-wrap: wrap;
    background-color: rgb(36, 36, 36);
    border-radius:10px;
    color: white;
    margin-bottom: 10px;
    
    
    
    
}

/**lista alumnos**/

.listado-alumnos{
    list-style: none;
    
}

.nombre-alumnos{
    list-style: none;
    background-color:transparent;
    border: none;
    border-bottom: solid 1px white;
    padding: 5px;
    margin-top: 10px;
    font-size: 16px;
    color:white ;
    font-family: 'Urbanist', sans-serif;
    transition: .2s ease-in-out;
    
    
}

.nombre-alumnos:hover{
    cursor: pointer;
    background-color: rgba(145, 99, 91, 0.63);
    transform: scale(1.2);
}







/**Crud Temas**/



.listado-temas{
    
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    



}

.card-tema{
    padding: 15px;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    background-color: rgba(134, 134, 134, 0.075);
    border-bottom:solid 1px rgb(99, 97, 97);
    width:100%;
}

.card-tema:hover{
    background-color: rgba(206, 202, 202, 0.075);
}

.container-tema{
    width:100%;
    text-align: center;
    padding: 5px;
}

.container-nota{
    width: 100%;
    text-align: center;
    padding: 5px;
}

.btn-suspendido, .btn-aprovado {
    
    border: none;
    background-color: transparent;
    font-size: 18px;
    
    
}
.btn-suspendido{
    
    cursor: pointer;
    color: rgba(255, 0, 0, 0.61);
}

.btn-aprovado{
    
    cursor: pointer;
    color: rgb(20, 204, 20);
}

.acciones{

    display: flex;
    padding: .3125rem;
    justify-content: space-evenly;
    align-items: center;
    width: 25rem;
    }

.btn-acciones-editar , .btn-acciones-eliminar{
    
    border: none;
    font-family: 'Urbanist', sans-serif;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 18px;

    
}
.btn-acciones-editar:hover{
    color: rgb(113, 113, 216);
}
.btn-acciones-eliminar:hover{
    color: rgb(155, 11, 11);
}




/**validaciones**/
.error_formulario,.error-formulario{
    
    padding: .3125em;
    margin-bottom: 1.875em;
    border-radius: .3125em;
    color: rgb(192, 10, 10);
    font-weight: bold;

}




/**perfiles**/
.container-alumno{
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.card-profile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.img-profile{
    width: 60%;
    margin-top: 1.25em;
    border-radius: 50%;
    
}

.borrar-alumno{
    background-color: rgb(10, 8, 8);
    padding: 10px;
    width: 150px;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
    transition: .2s ease-in;
}

.borrar-alumno:hover{
    background-color:rgba(160, 21, 21, 0.582) ;
}

/*alertas*/

.alerta-ok {
    background-color: rgb(67, 179, 67);
    color: green;
}

.alerta-error {
    background-color: red;
    color: white;
}

@media  (max-width: 600px) {
    .container-crud{
      display: flex;
      flex-wrap: wrap;
      
      
    }
    .container-lista{
        display: flex;
        width: 100%;
        padding: 10px;
        min-height: 300px;
        
        
    }
    .title-alumnos{
        margin-top: 100px;
    }
    .form-banner{
    width: 100%;
    }

  
    .container-hola-usuario{
        position: fixed;
        top:0;
        background-color: rgba(0, 0, 0, 0.726);

    }

    .btn-agregar-alumno{
        margin-top: 50px;

    }
}

@media  (max-width: 450px) {
    .card-tema{
        display: flex;
        flex-direction: column;

    }

    .btn-temas{
        margin-top: 10px;
    }

    .form-banner{
        margin-bottom: 20px;
    }

    .container-input{
        display: flex;
        flex-direction: column;
    }
    .input-temas{
        width: 120px;
    }
}













